Flask==3.0.0
Flask-CORS==4.0.0
Werkzeug==3.0.0
gTTS==2.2.3
fpdf2==2.5.5
pymongo==4.6.0
deep-translator==1.8.1
SpeechRecognition>=3.10.0
indic-transliteration==1.1.0
PyPDF2==1.26.0
python-dotenv==1.0.0
gunicorn==22.0.0
setuptools==70.0.0