Flask==3.0.0
Flask-CORS==4.0.0
Werkzeug==3.0.0
gTTS==2.2.3
fpdf==1.7.2
fpdf2
pymongo==4.6.0
deep-translator==1.8.1
SpeechRecognition>=3.10.0
indic-transliteration==2.3.57
PyPDF2==1.26.0
python-dotenv==1.0.0
gunicorn==22.0.0
setuptools==70.0.0
